.taxinstance-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.begindate {
    width: 50%;
    padding-right: 10px;
}

.enddate {
    width: 50%;
    padding-left: 10px;
}