.products-page {
    flex: 1;
    background-color: #555; /* Dark mode background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
  }

  .test2 {
    position: absolute;
    left: 0;
    top: 0;
    right: 360px;
    bottom: 0;
    overflow: auto;

  }
.test {
    position: absolute;
    width: 100%;
    overflow-x: hidden; 
  }
  
  .test-item { 
    background-color: #ccc;
    text-align: center;
    border: 1px solid #999;
    cursor: pointer;
    width: 18.5%;
    padding-bottom: 18.5%;
    margin: 0.5%;
    display: inline-block;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }

  .test-item>div {
    position: absolute;
    bottom: calc(50% - 10px);
    width: 100%;
    font-size: 20px;
  }

  .cart {
    position: absolute;
    right: 0px;
    width: 360px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    background-color: #444;
    padding: 2px;
  }

  .cart>div {
    box-sizing: border-box;
    padding: 10px;
    margin: 2px;
    background-color: #777;
    user-select: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .cart>div:nth-child(2n - 1) {
    background-color: #666;
  }